/* https://code.visualstudio.com/api/references/theme-color */

body {
    line-height: 1.5;
    font-size: 12pt;
}

button {
    border: none;
    padding: 0.5em;
    width: fit-content;
    text-align: center;
    font-size: medium;
    outline: 1px solid transparent;
    outline-offset: 2px !important;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
}

button:disabled,
button[disabled] {
    background-color: var(--vscode-disabledForeground);
}

button:hover {
    cursor: pointer;
    background: var(--vscode-button-hoverBackground);
}

button:focus {
    outline-color: var(--vscode-focusBorder);
}

button.secondary {
    color: var(--vscode-button-secondaryForeground);
    background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
    background: var(--vscode-button-secondaryHoverBackground);
}

h1 code {
    color: var(--vscode-editor-foreground);
}

pre code {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
    white-space: pre-wrap !important;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
}

img {
    background-color: #ffff;
}

pre {
    background: var(--vscode-editor-background);
}

summary {
    margin-bottom: 0.5em;
}

table {
    border-collapse: collapse;
}

table th {
    border-bottom: 1pt solid var(--vscode-editor-foreground)
}

tr {
    border-bottom: 1px solid var(--vscode-editor-foreground);
}

tr:last-child {
    border-bottom: none;
}

th,
td {
    padding: 5px;
}

* {
    word-break: break-word;
}

.alert {
    padding: 10px;
    color: var(--vscode-inputValidation-errorForeground);
    background-color: var(--vscode-inputValidation-errorBackground);
    border-color: var(--vscode-inputValidation-errorBorder);
}

.btn,
table * {
    word-break: normal;
}

.next {
    display: none;
}

.no-hover {
    pointer-events: none;
}

/* Fade-in Effect */

/* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
.fade-in {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* YouTube Video Playback Overlay */

.container {
    position: relative;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.5;
    transition: .3s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.icon {
    color: #F00;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-play:hover {
    color: #F00;
}
